
.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
          0 0 0 2px,
            inset -2px 0 0,
          inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
}

a{
  text-decoration: none;
  outline: none;
}
[class^="slide-"] {
  display: grid;
  place-items: center;
}
header{
  padding: 10px 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  h1{
    font-family: Arial, serif;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 100px;
  }
  .buttons{
    display: flex;
    align-items: center;
    button:first-of-type{
      margin-right: 10px;
    }
  }
}
.wrapper{
  display: flex;
  height: 100vh;
}
main{
  display: grid;
  gap: 0;
  height: 100vh;
  grid-template-columns: 1fr 3fr 2fr;
  z-index: 0;
  position: relative;
  .slide-main{
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f5f4f4;
    .slideTitle{
      font-family: Arial, serif;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    .slideGraph{
      display: flex;
      width: 100%;
      justify-content: center;
      background: #ffffff;
      .slidePic{
        img{
          max-width: 300px;
        }
      }
    }
  }
  .slide-edit{
    font-family: Arial, serif;
    display: flex;
    flex-direction: column;
    padding: 75px 50px;
    justify-content: flex-start;
    align-items: flex-start;

    .questionTitle{
      font-size: 18px;
      margin-bottom: 10px;
    }
    .addQuestion{
      margin-top: 10px;
      border: 1px solid #000000;
      border-radius: 15px;
    }
    .choose{
      display: flex;
    }
    .category{
      margin-top: 10px;
      margin-right: 10px;
    }
    .radioBtn{
      display: flex;
      align-items: center;
      margin-top: 15px;
      label{
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
        margin-top: 3px;
        transition: all 0.4s;
      }
      .radioIcon{
        position: relative;
        width: 20px;
        height: 20px;
        transition: all 0.4s;
        input{
          visibility: hidden;
          position: absolute;
        }
      }
      .activeIcon{
        width: 35px;
        height: 35px;
      }
    }
    .options{
      margin-top: 30px;
      .optionsTitle{
        font-size: 18px;
      }
      .optionItems{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .optionItem{
          margin-top: 10px;
        }
      }
    }
    .content{
      display: none;
    }
    .upload{
      display: block;
      margin-top: 10px;
    }
  }
  .slide-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .addSlide{
      margin-top: 10px;
    }
    .slideList{
      display: flex;
      flex-direction: column;
      width: 100%;
      .slideMini{
        display: flex;
        margin-top: 15px;
        cursor: pointer;
        width: 100%;
        justify-content: center;
        background: #ffffff;
        padding: 15px 0;
        transition: all 0.4s;
        .info{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p{
            font-size: 12px;
          }
          button{
            border: none;
            background: transparent;
          }
        }
        .pic{
          width: 150px;
          height: 70px;
          border-radius: 10px;
          border: 1px solid #c4c4c4;
          background: #fff;
          margin-left: 10px;
          transition: all 0.4s;
        }
      }
      .activeMini{
        background: #a9d0dc;
        .pic{
          border-color: #1f829f;
        }
      }
    }
  }
}
.mainLogin{
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, .1);
  .loginForm{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px 30px;
    background: #FFFFFF;
    height: fit-content;
    border-radius: 15px;
    h2{
      font-size: 24px;
    }
    .no-account{
      width: 100%;
      text-align: center;
    }
  }
}
.entry{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px;
  width: 100%;
  .presList{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    .presItem{
      display: flex;
      padding: 15px 20px;
      width: 100%;
      margin-right: 15px;
      margin-bottom: 10px;
      background: rgba(108, 117, 125, 0.6);
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
      -moz-box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
      box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
      transition: all 0.4s;
      .window{
        width: 100px;
        margin-right: 10px;
      }
      .block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        button{
          background: transparent;
          border: none;
          outline: none;
          width: fit-content;
        }
      }
      .title{
        font-family: Arial, sans-serif;
        text-align: center;
        color: #000000;
        cursor: pointer;
      }
      .info{
        margin-left: auto;
      }
    }
  }
}