.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    outline: none;
}

[class^="slide-"] {
    display: grid;
    place-items: center;
}

header {
    padding: 10px 15px;
    background: #ffffff;
    -webkit-box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-family: Arial, serif;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 100px;
}

header .buttons {
    display: flex;
    align-items: center;
}

header .buttons button:first-of-type {
    margin-right: 10px;
}

.wrapper {
    display: flex;
    height: 100vh;
}

main {
    display: grid;
    gap: 0;
    height: 100vh;
    grid-template-columns: 1fr 3fr 2fr;
    z-index: 0;
    position: relative;
}

main .slide-main {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f5f4f4;
}

main .slide-main .slideTitle {
    font-family: Arial, serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

main .slide-main .slideGraph {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #ffffff;
}

main .slide-main .slideGraph .slidePic img {
    max-width: 300px;
}

main .slide-edit {
    font-family: Arial, serif;
    display: flex;
    flex-direction: column;
    padding: 75px 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

main .slide-edit .questionTitle {
    font-size: 18px;
    margin-bottom: 10px;
}

main .slide-edit .addQuestion {
    margin-top: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}

main .slide-edit .choose {
    display: flex;
}

main .slide-edit .category {
    margin-top: 10px;
    margin-right: 10px;
}

main .slide-edit .radioBtn {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

main .slide-edit .radioBtn label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 3px;
    transition: all 0.4s;
}

main .slide-edit .radioBtn .radioIcon {
    position: relative;
    width: 20px;
    height: 20px;
    transition: all 0.4s;
}

main .slide-edit .radioBtn .radioIcon input {
    visibility: hidden;
    position: absolute;
}

main .slide-edit .radioBtn .activeIcon {
    width: 35px;
    height: 35px;
}

main .slide-edit .options {
    margin-top: 30px;
}

main .slide-edit .options .optionsTitle {
    font-size: 18px;
}

main .slide-edit .options .optionItems {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

main .slide-edit .options .optionItems .optionItem {
    margin-top: 10px;
}

main .slide-edit .content {
    display: none;
}

main .slide-edit .upload {
    display: block;
    margin-top: 10px;
}

main .slide-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main .slide-menu .addSlide {
    margin-top: 10px;
}

main .slide-menu .slideList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .slide-menu .slideList .slideMini {
    display: flex;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    background: #ffffff;
    padding: 15px 0;
    transition: all 0.4s;
}

main .slide-menu .slideList .slideMini .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .slide-menu .slideList .slideMini .info p {
    font-size: 12px;
}

main .slide-menu .slideList .slideMini .info button {
    border: none;
    background: transparent;
}

main .slide-menu .slideList .slideMini .pic {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background: #fff;
    margin-left: 10px;
    transition: all 0.4s;
}

main .slide-menu .slideList .activeMini {
    background: #a9d0dc;
}

main .slide-menu .slideList .activeMini .pic {
    border-color: #1f829f;
}

.mainLogin {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.mainLogin .loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px 30px;
    background: #FFFFFF;
    height: fit-content;
    border-radius: 15px;
}

.mainLogin .loginForm h2 {
    font-size: 24px;
}

.mainLogin .loginForm .no-account {
    width: 100%;
    text-align: center;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    width: 100%;
}

.entry .presList {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.entry .presList .presItem {
    display: flex;
    padding: 15px 20px;
    width: 100%;
    margin-right: 15px;
    margin-bottom: 10px;
    background: rgba(108, 117, 125, 0.6);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
    -moz-box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
    box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
    transition: all 0.4s;
}

.entry .presList .presItem .window {
    width: 100px;
    margin-right: 10px;
}

.entry .presList .presItem .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entry .presList .presItem .block button {
    background: transparent;
    border: none;
    outline: none;
    width: fit-content;
}

.entry .presList .presItem .title {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.entry .presList .presItem .info {
    margin-left: auto;
}