<template>
  <div>
    <header class="p-3 border-bottom">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="@/assets/layout.png" alt="">
          </a>

          <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 ms-2">
            <div >
              <input type="text" class="form-control border-0" id="exampleInputEmail1" v-model="presentation.name" value="Презентация" style="font-size: 18px;font-weight: 700;" aria-label="Search">
            </div>
          </div>


          <div class="dropdown text-end" style="margin-left: auto">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><router-link to="/constructor" class="dropdown-item" >Новая презентация</router-link></li>
              <li><hr class="dropdown-divider"></li>
              <li><router-link to="/" class="dropdown-item">Выйти</router-link></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="builder container-fluid" style="height: calc(100vh - 72px); overflow: hidden">
      <div class="row h-100">
        <div class="col-xxl-2 pt-3 border" >
          <div class="row">
            <div class="builder-new-slide border-bottom pb-3">
              <button type="button" @click="AddSlides" class="btn btn-outline-primary">Новый слайд</button>
            </div>
            <div class="builder-slides pt-4">
              <div
                  class="card slides-card w-100 mb-4"
                  v-for="(item, i) in presentation.slides"
                  :class="{'active': presentation.activeSlide === item.id}"
                  :key="i"
                  @click="SelectSlide(item.id)"
              >
                <div class="card-body">
                  <h5 class="card-title">Слайд №{{ (i + 1) }}</h5>
                  <div class="builder-slides__item mb-2">

                  </div>
                  <a @click="RemoveSlide(item.id)" style="cursor: pointer" class="card-link">Удалить</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-7 pt-3 border" style="background: #f7fafc">
            <div class="builder-result h-75" v-if="presentation.slides.length > 0">
              <div class="card h-100">
                <h5 class="card-header p-3 text-center" v-if="presentation.presentationId !== null">
                  Присоединиться, по ссылке: <b>presentation.qweeex.ru/preview/{{ presentation.presentationId }}</b>
                </h5>
                <div class="card-body">
                  <h1 class="card-title">{{ presentation.slides.filter((item) => item.id === presentation.activeSlide)[0].question }}</h1>
                  <div class="builder-result__charts">
                    <div class="chart" :class="{'show': ChartsType === 'donut'}" >
                      <AreaCharts
                          :id="'pie'"
                          :data="user.data"
                          :labels="user.labels"/>
                    </div>
                    <div class="chart" :class="{'show': ChartsType === 'area'}" >
                      <BarCharts
                          :id="'area'"
                          :type="'area'"
                          :data="user.data"
                          :labels="user.labels"
                          :color="'#97cc64'"/>
                    </div>
                    <div class="chart" :class="{'show':  ChartsType === 'bar'}" >
                      <BarCharts
                          :id="'bar'"
                          :type="'bar'"
                          :data="user.data"
                          :labels="user.labels"
                          :color="'#97cc64'"/>
                    </div>
                    <div class="chart" :class="{'show':  ChartsType === 'cloud'}">
                      <wordcloud
                          :data="wordcloud.defaultWords"
                          nameKey="name"
                          valueKey="value"
                          :color="wordcloud.myColors">
                      </wordcloud>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xxl-3 pt-3 border">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" :class="{'active': ContentViewType === 'data'}" @click="ChangeViewType('data')" aria-current="page" href="#">Типы слайда</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{'active': ContentViewType === 'content'}" @click="ChangeViewType('content')" href="#">Контент</a>
            </li>
          </ul>
          <hr>
          <div class="charts-list d-flex" v-if="ContentViewType === 'data'">
            <div class="charts-list__wrapper d-flex flex-wrap w-100">

              <div class="col-4 p-2">
                <div class="card" @click="ChangeChartsType('area')">
                  <div class="card-body">
                    <img src="@/assets/area.png" class="mx-auto d-block" alt="">
                    <p class="card-text text-center pt-2"></p>
                  </div>
                </div>
              </div>

              <div class="col-4 p-2" >
                <div class="card " @click="ChangeChartsType('bar')">
                  <div class="card-body">
                    <img src="@/assets/line.png" class="mx-auto d-block" alt="">
                    <p class="card-text text-center pt-2"></p>
                  </div>
                </div>
              </div>

              <div class="col-4 p-2">
                <div class="card" @click="ChangeChartsType('donut')">
                  <div class="card-body">
                    <img src="@/assets/pie.png" class="mx-auto d-block" alt="">
                    <p class="card-text text-center pt-2"></p>
                  </div>
                </div>
              </div>

              <div class="col-4 p-2">
                <div class="card" @click="ChangeChartsType('cloud')">
                  <div class="card-body">
                    <img src="@/assets/cloud.png" class="mx-auto d-block w-100" alt="">
                    <p class="card-text text-center pt-2"></p>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="data-list" v-if="ContentViewType === 'content'">
            <div class="data-list__wrapper p-3 pt-2">
              <div class="mb-4">
                <label class="form-label text-black pb-3"><b>Ваш вопрос</b></label>
                <input type="text" v-model="presentation.slides.filter((item) => item.id === presentation.activeSlide)[0].question" placeholder="Ваш вопрос" class="form-control"  aria-describedby="emailHelp">
              </div>
              <div class="mb-4">
                <label class="form-label text-black"><b>Варианты</b></label>
                <div class="options-list pt-3 pb-3">
                  <div
                      class="input-group mb-3"
                      v-for="(item, i) in presentation.slides.filter((item) => item.id === presentation.activeSlide)[0].answers"
                      :key="i"
                  >
                    <input type="text" class="form-control" v-model="item.text" @input="UpdateDataOption" placeholder="Вариант">
                    <button class="btn btn-secondary" @click="RemoveAnswer(item.id)"  type="button">Удалить</button>
                  </div>
                  <button class="btn btn-primary w-100 mb-2" @click="AddAnswer" type="button">Добавить вариант</button>
                  <button class="btn btn-danger w-100 mb-2" @click="SaveSlide" type="button">Сохранить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AreaCharts from "@/components/AreaCharts";
import BarCharts from "@/components/BarCharts";
import axios from "axios"
import wordcloud from 'vue-wordcloud'

export default {
  name: "Builder",
  components: {
    AreaCharts: AreaCharts,
    BarCharts: BarCharts,
    wordcloud: wordcloud
  },
  data(){
    return {
      ContentViewType: 'data', // 'data' or 'content'
      user: {
        data: [],
        labels: []
      },
      ChartsType: null,
      presentation: {
        name: 'Презентация',
        status: 'active',
        activeSlide: null,
        presentationId: null,
        slides: []
      },
      answers: [],
      wordcloud: {
        myColors: ['#0096ff', '#ec0931', '#ffea00', '#85ff00'],
        defaultWords: []
      }
    }
  },
  created() {
    window.builder = this
    if (this.$route.params.id){
      this.getPresentation(this.$route.params.id)
    }
  },
  mounted() {
    setInterval(() => {
      if (this.presentation.presentationId != null && this.presentation.slides.length > 0){
        this.getPresentationData(this.presentation.activeSlide, this.presentation.presentationId)
      }
    }, 3000)
  },
  methods: {
    // Получить данные
    async getPresentationData(id_slide, id_presentation){
      try {
        let res = await axios.post('https://presentation.qweeex.ru/api/results', {
          id_slide: id_slide,
          id_presentation: id_presentation
        })
        if (res.data.status && res.data.type === "wc"){
          if (this.wordcloud.defaultWords !== res.data.data){
            this.wordcloud.defaultWords = res.data.data
          }
        }
        if (res.data.status && res.data.data.data.length > 0 && res.data.type === "any"){
          console.log(res.data)
          let currentSlide = this.presentation.slides.filter((item) => item.id === this.presentation.activeSlide)
          let labels = []
          res.data.data.labels.forEach((item) => {
            let slide = currentSlide[0].answers.filter((slide) => slide.id === item)
            if (slide.length > 0){
              labels.push(slide[0].text)
            }
          })
          this.UpdateDataFromServer(res.data.data.data, labels)
        }
      } catch (e){
        console.log(e)
      }
    },
    // Получить презентацию
    async getPresentation(id){
      const store = JSON.parse(localStorage.getItem('session'))
      try {
        let res = await axios.post('https://presentation.qweeex.ru/api/presentation/' + id, {}, {
          headers: {
            'authorization': 'Bearer ' + store.token
          }
        })
        if (res.data.status) {
          let data = res.data.data
          let answer = JSON.parse(data.SLIDES)
          console.log(data)
          this.presentation = {
            name: data.NAME,
            status: 'active',
            activeSlide: data.ID_SLIDE,
            presentationId: data.ID_PRESENTATION,
            slides: answer
          }
          setTimeout(() => {
            this.SelectSlide(data.ID_SLIDE)
            this.ContentViewType = 'content'
          }, 1500)
        } else {
          if (res.data.error){
            window.ShowHit(res.data.message)
            localStorage.removeItem('session')
            this.$router.push('/login')
          }

        }
      } catch (e) {
        console.log(e.error)
      }
    },
    // Удалить слайд
    RemoveSlide(id){
      let slides = this.presentation.slides.filter((item) => item.id !== id)
      if (slides.length > 0){
        this.SelectSlide(slides[0].id)
        this.presentation.slides = slides
        console.log(this.presentation.slides)
        this.$forceUpdate()
      }
    },
    // Выбрать слайд
    SelectSlide(id){
      let currentSlide = this.presentation.slides.filter((item) => item.id === id)
      if (currentSlide.length > 0){
        this.presentation.activeSlide = id
        this.ChartsType = currentSlide[0].chartsId
        this.answers = currentSlide[0].answers
        this.UpdateDataOption()
        this.SaveSlide()
        this.$forceUpdate()
      }

    },
    // Добавить слайд
    AddSlides(){
      // Генерация уникального ID
      let activeId = "id" + Math.random().toString(16).slice(2)
      this.presentation.activeSlide = activeId
      this.ChangeViewType('data')
      this.presentation.slides.push({
        id: activeId,
        question: "",
        chartsId: "",
        answers: []
      })
      console.log(this.presentation.slides)
      this.$forceUpdate()
    },
    async SaveSlide(){
      const store = JSON.parse(localStorage.getItem('session'))
      if (store.token){
        let currentSlide = this.presentation.slides.filter((item) => item.id === this.presentation.activeSlide)
        console.log(currentSlide)
        if (currentSlide.length > 0){
          try {
            let response = await axios.post('https://presentation.qweeex.ru/api/presentation/save', {
              name: this.presentation.name,
              status: this.presentation.status,
              activeSlide: this.presentation.activeSlide,
              presentationID: this.presentation.presentationId,
              slides: this.presentation.slides,
              userID: store.userID
            }, {
              headers: {
                'authorization': 'Bearer ' + store.token
              }
            })
            if (response.data.status){
              if (response.data.presentationID){
                this.presentation.presentationId = response.data.presentationID
              }
              console.log(response.data)
              window.ShowHit('Успешно сохранено', 'success')
            }
          } catch (e) {
            console.log(e)
            window.ShowHit(e.response.data)
          }
        }
      } else {
        localStorage.removeItem('session')
        this.$router.push('/login')
      }
    },
    // Удалить вариант ответа
    RemoveAnswer(id){
      if (this.answers.length === 0) return;
      let currentSlide = this.presentation.slides.filter((item) => item.id === this.presentation.activeSlide)
      if (currentSlide.length > 0){
        currentSlide[0].answers = currentSlide[0].answers.filter((item) => item.id !== id)
        this.UpdateDataOption()
      }
    },
    // Add answer
    AddAnswer(){
      let activeId = "id" + Math.random().toString(16).slice(2)
      let currentSlide = this.presentation.slides.filter((item) => item.id === this.presentation.activeSlide)
      if (currentSlide.length > 0){
        currentSlide[0].answers.push({
          id: activeId,
          text: ""
        })
        console.log(currentSlide)
        this.UpdateDataOption()
      }
    },
    ChangeViewType(type){
      let currentSlide = this.presentation.slides.filter((item) => item.id === this.presentation.activeSlide)
      if (currentSlide.length > 0){
        this.ContentViewType = type
      }
    },
    // Обноваить пункты
    UpdateDataOption(){
      let newLabels = []
      let newData = []
      let currentSlide = this.presentation.slides.filter((item) => item.id === this.presentation.activeSlide)
      if (currentSlide.length > 0){
        currentSlide[0].answers.forEach((item) => {
          newLabels.push(item.text)
          newData.push(0)
        })
        if (window.ApexCharts){
          if (this.ChartsType === 'donut'){
            window.ApexCharts.exec('pie', 'updateOptions', {
              series: newData,
              labels: newLabels
            })
            this.$forceUpdate()
          }
          if (this.ChartsType === 'bar'){
            window.ApexCharts.exec('bar',  'updateOptions', {
              series: [{
                data: newData
              }],
              xaxis: {
                categories: newLabels
              },
            })
            this.$forceUpdate()
          }
          if (this.ChartsType === 'area'){
            window.ApexCharts.exec('area',  'updateOptions', {
              series: [{
                data: newData
              }],
              xaxis: {
                categories: newLabels
              },
            })
            this.$forceUpdate()
          }
        }
      }

    },
    ChangeChartsType(type){
      let currentSlide = this.presentation.slides.filter((item) => item.id === this.presentation.activeSlide)
      if (currentSlide.length > 0){
        currentSlide[0].chartsId = type
        this.ChartsType = type
        this.ContentViewType = 'content'
        if (window.ApexCharts){
          if (this.ChartsType === 'donut'){
            window.ApexCharts.exec('pie', 'updateOptions', {
              series: this.user.data,
              labels: this.user.labels
            })
            this.$forceUpdate()
          }
          if (this.ChartsType === 'bar'){
            window.ApexCharts.exec('bar',  'updateOptions', {
              series: [{
                data: this.user.data
              }],
              xaxis: {
                categories: this.user.labels
              },
            })
            this.$forceUpdate()
          }
          if (this.ChartsType === 'area'){
            window.ApexCharts.exec('area',  'updateOptions', {
              series: [{
                data: this.user.data
              }],
              xaxis: {
                categories: this.user.labels
              },
            })
            this.$forceUpdate()
          }
        }
      }
    },
    UpdateDataFromServer(data, labels){
      if (window.ApexCharts){
        if (this.ChartsType === 'donut'){
          window.ApexCharts.exec('pie', 'updateOptions', {
            series: data,
            labels: labels
          })
          this.$forceUpdate()
        }
        if (this.ChartsType === 'bar'){
          window.ApexCharts.exec('bar',  'updateOptions', {
            series: [{
              data: data
            }],
            xaxis: {
              categories: labels
            },
          })
          this.$forceUpdate()
        }
        if (this.ChartsType === 'area'){
          window.ApexCharts.exec('area',  'updateOptions', {
            series: [{
              data: data
            }],
            xaxis: {
              categories: labels
            },
          })
          this.$forceUpdate()
        }
      }
    }
  }
}
</script>

<style scoped lang="less">

  .builder-result__charts{
    position: relative;
    .chart{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }
    .chart.show{
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }
  .slides-card.active{
    background: #eaf0f5;
    border-color: lightblue;
  }
  .slides-card{
    &:hover{
      .builder-slides__item{
        border-color: lightblue;
      }
    }
  }
  .builder-slides{
    overflow: scroll;
    height: calc(100vh - 150px);
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .builder-slides__item{
    width: 100%;
    height: 100px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    transition: all 0.4s;
    background: #fff;
  }
</style>