<template>
  <div>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary main-link">Главная</a></li>
          </ul>

        </div>
      </div>
    </header>
    <div class="wrapper">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="#" class="main-link d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4">Мои презентации</span>
        </a>
        <hr>

      </div>
      <main class="entry">
        <router-link to="/constructor" type="button" class="btn btn-secondary create">
          Создать презентацию
        </router-link>
        <div class="presList">
          <router-link
              :to="'/constructor/' + item.ID_PRESENTATION"
              class="presItem"
                v-for="(item, i) in data"
               :key="i"
          >
            <img src="@/assets/pres.svg" alt="pres" class="window" data-id="1">
            <div class="block ">
              <div class="title">
                {{ item.NAME }}
              </div>
              <button class="d-flex align-items-center">
                <i class="gg-trash"></i>
                <span class="px-3">Удалить</span>
              </button>
            </div>
            <div class="info">
              <div class="created">
                Создано: {{ new Date(item.CREATEDDATE).toLocaleDateString() }}
              </div>
              <div class="edit">
                Изменено: {{ new Date(item.DATEMODIFY).toLocaleDateString() }}
              </div>
            </div>
          </router-link>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  data(){
    return {
      data: []
    }
  },
  created() {
    const store = JSON.parse(localStorage.getItem('session'))
    if (store.userID){
      this.getData(store.userID)
    } else {
      localStorage.removeItem('session')
      this.$router.push('/login')
    }
  },
  methods: {
    async getData(userID){
      const store = JSON.parse(localStorage.getItem('session'))
      if (store.token){
        try {
          let res = await axios.post('https://presentation.qweeex.ru/api/presentation', {
            userID: userID
          }, {
            headers: {
              'authorization': 'Bearer ' + store.token
            }
          })
          if (res.data.status){
            this.data = res.data.data
            console.log(res)
          } else {
            window.ShowHit(res.data.message)
          }
        } catch (e) {
          window.ShowHit(e.response.data)
        }
      } else {
        localStorage.removeItem('session')
        this.$router.push('/login')
      }
    }
  }
}
</script>

