<template>
  <div class="main">
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <h1>Регистрация</h1>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-white main-link">Главная</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="#" class="main-link d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4">Мои презентации</span>
        </a>
        <hr>

      </div>
      <main class="mainLogin">
        <form class= 'loginForm' action="">
          <h2>Зарегистрируйте новый аккаунт</h2>
          <div class="mb-3">
            <label for="staticEmail" class="col-lg col-form-label">E-mail</label>
            <div class="col">
              <input type="text" class="form-control" id="staticEmail" v-model="email" placeholder="example@gmail.com">
            </div>
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="col-lg col-form-label">Пароль</label>
            <div class="col-m-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Пароль" v-model="pass">
            </div>
          </div>
          <div class="mb-3">
            <label for="staticEmail" class="col-lg col-form-label">Ваше полное имя</label>
            <div class="col">
              <input type="text" class="form-control" id="fullName" v-model="name" placeholder="Имя">
            </div>
          </div>
          <div class="mb-3">
            <button type="button" @click="Registration"  class="btn btn-primary mb-3">
              Зарегистрироваться
            </button>
          </div>
          <div class="no-account">
            Есть аккаунт? <br>
            <router-link to="/login" >Авторизуйтесь</router-link>
          </div>
        </form>
      </main>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Registation",
  data() {
    return {
      email: "",
      name: "",
      pass: ""
    }
  },
  methods: {
    async Registration(){
      try {
        await axios.post('https://presentation.qweeex.ru/api/auth/registration', {
          email: this.email,
          name: this.name,
          password: this.pass
        })
            .then((res) => {
              console.log(res)
              if (res.data.status){
                window.ShowHit(res.data.message, 'success')
                this.$router.push('/login')
              } else {
                window.ShowHit(res.data.message)
              }
            })

      } catch (e) {
        console.log(e)
        if (e.response.data){
          window.ShowHit(e.response.data.message)
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.main{
  height: 100vh;
  .wrapper{
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, .1);
    .mainLogin{
      height: fit-content;
      margin: 30px auto 0;
      padding: 30px;
      background: #FFFFFF;
      border-radius: 15px;
      border: 1px solid #c4c4c4;
    }
  }
}
</style>