<template>
  <div id="chart">
    <apexchart type="pie" id="pie" height="500" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts"
export default {
  name: "AreaCharts",
  components: {
    apexchart: VueApexCharts,
  },
  props: ['info', 'labels', 'id'],
  data() {
    return {
      series: this.info,
      chartOptions: {
        chart: {
          id: 'pie',
          width: 380,
          type: 'pie',
        },
        legend: {
          show: true,
          position: 'bottom',
          width: "100%"
        },
        labels: this.labels,
      }
    }
  }
}
</script>

<style scoped>

</style>