<template>
  <div :id="'charts' + id">
    <apexchart :type="type" height="500" :options="options" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts"
export default {
  name: "BarCharts",
  components: {
    apexchart: VueApexCharts,
  },
  props: ['color', 'data', 'labels', 'id', 'type'],
  data() {
    return {
      options: {
        chart: {
          id: this.id
        },
        xaxis: {
          categories: this.labels
        },
      },
      series: [{
        name: 'series-1',
        data: this.data
      }]
    }
  },
}
</script>

<style scoped>

</style>