<template>
  <div id="app">
    <Hint></Hint>
    <router-view/>
  </div>
</template>

<script>

import Hint from "@/components/Hint";

export default {
  name: "App",
  components: {
    Hint
  }
}

</script>


